nav{
    max-width: 25%;
    .logo{
        height: 40px;
        margin-top: 32px;
        margin-left:32px;
        margin-bottom: 32px;
    }
}
.wrap{
    
}
.navbar{
    ul{
        width: 100%;
    }
    a{
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
    }
    li{
        width: 100%;
        padding-top:12px;
        padding-bottom: 12px;
        padding-left: 32px;
    }
}