.container{
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

nav{
    max-width: 23%;
    .nav{
        padding-left:20px;
    }
    .logo{
        margin-top: 32px;
        margin-bottom: 32px;
    }
}