<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  </head>

  <body class="d-flex">
    <nav class="w-25">
      <div class="logo">
        <a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/97bc089e7543a6f7cb2a9b8dfc6b284dbde65280/week5/logo-ANSWER.svg" alt="ANSWER_LOGO"></a>
      </div>
      <div class="navbar">
        <ul>
          <li>
            <a href="#dashboard">
              <i class="fa-solid fa-chart-column"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="#question">
              <i class="fa-solid fa-comments"></i><p>Question</p>
            </a>
          </li>
          <li>
            <a href="index(unfinished).html">
              <i class="fa-solid fa-clipboard"></i><p>Assignment</p>
            </a>
          </li>
          <li>
            <a href="#course">
              <i class="fa-solid fa-circle-play"></i><p>Course</p>
            </a>
          </li>
          <li>
            <a href="index.html">
              <i class="fa-solid fa-user-group"></i><p>Admin</p>
            </a>
          </li>
          <li>
            <a href="#settings">
              <i class="fa-solid fa-gear"></i><p>Settings</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="user">
        <div class="user-photo">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt="user">
        </div>
        <div class="user-info">
          <p>name</p>
          <p><a href="">123@gmail.com</a></p>
        </div>
      </div>
    </nav>

    <%- contents %>
    <script src="./assets/js/vendors.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>